:root {
    --c-text: #2C2D35;
    --c-background-white: #F4F6F5;
    --c-text-green: #598D66;
    --c-text-grey: #86928B;
    --c-background-secondary: #E1EDE6;
    --c-background-button-activ: #376B44;
    --c-background-button-pasiv: #D4E8D9;
    --c-background-button-learn: #EEDB6D;
    --c-background-button-learn-hov: #FAEB97;
    --c-text-white: #F4F6F5;
}

/*Base*/
body {
    font-family: Raleway, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: var(--c-text);
    background-color: var(--c-background-white);
    margin: 0;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
  }
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  
  .container {
    min-width: 320px;
    max-width: 375px;
    padding: 0px 15px;
  }
  .images {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }
  
  .visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    margin: -1px;
  }

  /* header */

  .header-container {
    margin: 0 auto;
    min-width: 320px;
    max-width: 375px;
    padding: 16px 0 0;
  }
  
  

  .logo {
    margin: 0 auto;
    width: 146px;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.15;
    text-align: center;
    color: var(--c-text-green);
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    border: 1px dashed var(--c-text-grey);
  }
  .logo-icon {
    stroke: var(--c-text-green);
    fill: var(--c-text-green);
    border-right: 1px dashed var(--c-text-grey);
  }

  .nav-wrap {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    stroke: var(--c-text);
    fill: var(--c-text);
    background-color: var(--c-background-secondary);
  }
  .nav-item {
    font-size: 18px;
    line-height: 1.16;
  }
  .icon-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    stroke: var(--c-text);
    fill: var(--c-text);
    padding: 20px 15px;
  }
  .icon-buy {
    display: flex;
    justify-content: center;
    align-items: center;
    stroke: var(--c-text);
    fill: var(--c-text);
    padding: 20px 15px;
  }

  /* END header */
  
  /* hero-section */
  .hero-section {
    padding: 60px 0 0;
  }

  .container {
    min-width: 320px;
    max-width: 375px;
    padding: 0 15px;
    margin: 0 auto;
  }

  .hero-photo {
    display: none;
  }
  .hero-title {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
  }

  .hero-accent {
    color: var(--c-text-green);
  }

  .hero-text {
    font-size: 14px;
    line-height: 1.5;
    color: var(--c-text-grey);
    margin-bottom: 40px;
  }
  .hero-button {
    cursor: pointer;
    padding: 20px 40px;
    border: 1px solid var(--c-text-green);
    color: var(--c-text-green);
    font-style: 18px;
    font-weight: 500;
    line-height: 1.16;
    letter-spacing: 0.04em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
  }
  .hero-button:hover {
    background-color: var(--c-background-button-learn-hov);
  }
  /* END hero-section */

  /* section Reproductions */

  .section {
    padding: 30px 0 60px;
  }

  .section-title {
    font-weight: inherit;
    font-size: 24px;
    line-height: 1.1;
    margin-bottom: 20px;
  }

  .country-list {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;

  }

  .button-country {
    cursor: pointer;
    background: var(--c-background-button-activ);
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    color: var(--c-text-white);
  }
  .button-country-secondary {
    cursor: pointer;
    background: var(--c-background-button-pasiv);
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    color: var(--c-text);
  }
  .button-country-secondary:hover, 
  .button-country-secondary:focus {
    background-color: var(--c-text-green);
    color: var(--c-text-white);
  }

.card-list-france {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.card-list-item {
  flex-basis: 100%;
}

.card-list-wrap {
  margin: 0 auto;
  padding: 20px 20px 30px;
  background-color: var(--c-background-secondary);
}

.card-list-img {
  width: 100%;
  margin-bottom: 15px;
}
.card-name {
  color: var(--c-text-grey);
  margin-bottom: 10px;
  line-height: 1.19;
}
.card-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  margin-bottom: 10px;
}

.card-size {
  
  font-weight: 500;
  font-size: 16px;
  line-height: 1.16;
  margin-bottom: 30px;
}

.card-price {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 10px; 
  color: var(--c-text-green);
}
.card-link {
  display: block;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  color: var(--c-text-green);
  border: 1px solid var(--c-text-green);
  font-size: 18px;
  line-height: 1.17;
}

  /* END section Reproductions */

  /* section-colection */

  .section-colection {
    padding: 50px 0;
    background-image: url(../images/colection/mob-colection.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background: linear-gradient(grey, black);
  }
  @media only screen and (min-resolution: 192dpi) {
    .section-colection {
      background-image: url(../images/colection/mob-colection@2x.jpg) ;
  }
  }
  .container-colection {
    padding: 0 15px;
    min-width: 320px;
    max-width: 375px;
    margin: 0 auto;
  }
  .section-title-colection {
    font-weight: inherit;
    font-size: 24px;
    line-height: 1;
    margin-bottom: 20px;
    color: var(--c-text-white);

  }
  .wraper-title {
    display: flex;
    justify-content: start;
    gap: 10px;
  }
  .icon-colection {
    fill: transparent;
    stroke: var(--c-background-button-learn);
    width: 50px;
    height: 50px;
  }

  .colection-text {
    font-size: 16px;
    color: var(--c-text-white);
    line-height: 1.4;
    margin-bottom: 30px;
  }
  
  .colection-link {
    display: block;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    color: var(--c-text);
    background-color: var(--c-background-button-learn);
    border: none;
    font-size: 18px;
    line-height: 1.17;
  }
   /* END section-colection */

   /* team section */
  .team {
    padding: 60px 0 94px;

  }
  .team-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .team-img {
    width: 290px;
  }
  
  .team-text {
    font-size: 16px;
    line-height: 1.4;
  }
  .team-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .team-photo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
  }
   /* END team section */
  @media screen and (max-width: 575.8px) {

  nav {
    display: none;
  }
  }

  @media screen and (min-width: 576px) {

    .header-container {
    max-width: 576px;
    background-color: var(--c-background-secondary);
    padding: 16px 32px 0;
  }
  .icon-menu {
    display: none;
  }

  .nav-list {
    display: flex;
    gap: 60px;
    align-items: center;
  }
  .icon-buy {
    padding: 20px 0;
  }

  .nav-wrap {
  width: 100%;
  }

  .nav-wrap::before {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--c-text-grey);
    top: 0;
    left: 0;
  }

  .hero-section {
    padding: 50px 0px 0px;
  }
  .section {
    padding: 50px 0;
  }
  .container {
    max-width: 576px;
    padding: 0 32px;
  }
.hero-content {
  display: flex;
  gap: 30px;
}
  .hero-photo {
    display: block;
  }
  .hero-title {
    font-size: 36px;
      margin-bottom: 10px;
  
  }
  .hero-text {
    font-size: 16px;
    margin-bottom: 12px;
  }

  .card-list-item {
    flex-basis: calc((100% - 30px) / 2);
  }
  .card-list-img {
    margin-bottom: 15px;
  }

  
  .section-colection {
    padding: 50px 0 40px;
    background-image: url(../images/colection/tab-colection510.jpg);

  }
  @media only screen and (min-resolution: 192dpi) {
    .section-colection {
      background-image: url(../images/colection/tab-colection510@2x.jpg) ;
  }
  }
  .container-colection {
    padding: 0 32px;
    max-width: 576px;
  }
  .section-title-colection {
    width: 260px;
  }
  .colection-text {
    margin-bottom: 20px;
  }
  .colection-link {
    display: inline-block;
    padding: 20px 35px;
  }

  .team {
    padding: 50px 0;

  }
  .team-img {
    width: 375px;
  }
  .team-photo {
    justify-content: start;
    gap: 30px;
}
  }

  @media screen and (min-width: 768px) {

    .header-container {
    max-width: 768px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 40px;
  }
  .nav-wrap::before {
    display: none;
  }
  .logo {
    margin-bottom: 0;
}
.nav-wrap {
  justify-content: flex-end;
  gap: 60px;
}
.hero-section {
  padding: 0;
}
.section {
  padding: 70px 0;
}
.container {
  max-width: 768px;
  padding: 0 40px;
}
.hero-title {
  font-size: 40px;
  margin-top: 34px;
  margin-bottom: 20px;
}
.hero-text {
  margin-bottom: 40px;
}
.wraper-country {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.section-title {
  font-size: 30px;
  line-height: 1.1;
  margin-bottom: 0;
}
.country-list {
  gap: 32px;
}
.button-country {
  font-size: 20px;
  line-height: 1.15;
}
.country-list {
  margin-bottom: 0;
}
.button-country-secondary {
  font-size: 20px;
  line-height: 1.15;
}
.card-list-img {
  margin-bottom: 20px;
}
.card-name {
  font-size: 18px;
}
.card-title {
  font-size: 30px;
  margin-bottom: 8px;
}

.card-size {
  font-size: 18px;
}

.card-price {
  font-size: 24px;
  margin-bottom: 20px; 
}
.card-link {
  font-size: 20px;
}

.section-colection {
  padding: 70px 0;
  background-image: url(../images/colection/tab-colection768.jpg);

}
@media only screen and (min-resolution: 192dpi) {
  .section-colection {
    background-image: url(../images/colection/tab-colection768@2x.jpg) ;
}
}
.container-colection {
  padding: 0 40px;
  max-width: 768px;
}
.section-title-colection {
  font-size: 30px;
  width: 370px;
}
.colection-text {
  font-size: 18px;
  margin-bottom: 30px;
}
.team {
  padding: 70px 0;

}
.team-wrapper {
  gap: 40px;
}
.team-img {
  width: 510px;
}
.team-text {
  margin-top: 30px;
  font-size: 18px;
  line-height: 1.5;
}
.team-content {
  gap: 30px;
}
  }

  @media screen and (min-width: 1200px) {
    .hero-section {
      padding: 0;
    }

    .header-container {
    max-width: 1440px;
    padding: 32px 165px;
  }
 
  .nav-item {
    font-size: 20px;
  }
  .container {
    max-width: 1440px;
    padding: 0 165px;
  }
  .hero-title {
    font-size: 60px;
    margin-top: 145px;
    margin-bottom: 20px;
  }
  .hero-text {
    font-size: 18px;
    margin-bottom: 60px;
  }
  .card-list-item {
    flex-basis: calc((100% - 60px) / 3);
  }
  .section-title {
    font-size: 40px;
  }
  
.section-colection {
  padding: 70px 0;
  background-image: url(../images/colection/desk.jpg);

}
@media only screen and (min-resolution: 192dpi) {
  .section-colection {
    background-image: url(../images/colection/desk@2x.jpg) ;
}
.icon-colection {
  width: 60px;
  height: 60px;
}
}
.container-colection {
  max-width: 1200px;
}
.section-title-colection {
  font-size: 40px;
  width: 420px;
}
.colection-text {
  font-size: 18px;
  margin-bottom: 30px;
  width: 540px;
}
.colection-link {
  padding: 22px 60px;
  margin-top: 30px;
  font-size: 20px;
}
.team-wrapper {
  flex-direction: row;
  gap: 30px;
}
.team-content {
  margin-top: 124px;
}
.team-img {
  width: 445px;
}
.team-text {
  margin-top: 20px;
}
.team-content {
  gap: 20px;
}
  }